.instagram-feed {
	a {
		margin:6px;
		display: inline-block;
		margin-bottom: 6px;
		width: auto;
		@include tablet {
			margin:3px;
		}
		@include mobile {
			margin:3px;
		}
		&:hover img {
			filter: grayscale(10);
		}
		img {
			width: auto;

		}
	}
}
