.instagram-feed {
	a {
		margin:6px;
		display: inline-block;
		margin-bottom: 6px;
		width: 100%;
		height: auto;
		@include tablet {
			width: 100%;
			height: auto;
			margin:3px;
		}
		@include mobile {
			width: 100%;
			height: auto;
			margin:3px;
		}
		&:hover img {
			filter: grayscale(10);
		}
		img {
			width: 100%;
			height: auto;

		}
	}
}
