.instagram-feed {
	a {
		box-sizing: border-box;
		width: calc(33.3333% - 6px);
    		margin: 3px;
		display: inline-block;
		margin-bottom: 6px;
		@include tablet {
			margin:3px;
		}
		@include mobile {
			margin:3px;
		}
		&:hover img {
			filter: grayscale(10);
		}
		img {
			width: 100%;
			height: auto;

		}
	}
}
