{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="contact-form">
  <div class="container">
    <div class="row">
      <form name="Contact" method="POST" action="{{ .Site.Params.contact_form_action | safeURL }}" netlify-honeypot="hidden-field" data-netlify-recaptcha="true" data-netlify="true">
        <div class="col-md-6 col-sm-12">
          <div class="block">
              <p class="hidden">
              <label>Feed the bots: <input name="hidden-field" /></label>
              </p>
            <div class="form-group">
              <input name="user_name" type="text" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="form-group">
              <input name="user_email" type="text" class="form-control" placeholder="Email Address" required>
            </div>
            <div class="form-group">
              <input name="user_subject" type="text" class="form-control" placeholder="Subject" required>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <textarea name="user_message" class="form-control" rows="4" placeholder="Your Message" required></textarea>
            </div>
            <div class="col-md-6 col-sm-12 form-group" style="padding-left:0px;padding-right:0px;">
              <div class="form-group" data-netlify-recaptcha="true" style="transform:scale(0.78);-webkit-transform:scale(0.78);transform-origin:0 0;-webkit-transform-origin:0 0;"></div></div>
            <div class="col-md-6 col-sm-12 form-group" style="padding-left:0px;padding-right:0px;">
              <button class="btn btn-default" type="submit">{{ i18n "submit" }}</button></div>
          </div>
        </div>
      </form>
    </div>
    <div class="contact-box row">
      <div class="col-md-12 col-sm-12">
      {{ if .Site.Params.gmap.enable }}
        <div class="block">
          <div class="google-map">
            <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=30.2672%2C-97.7431&key=AIzaSyAa0Ws3xyhVwAB2UMHp_afuhXuPI9PzhSo" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      {{ end }}
      <div style="padding-left:15px;">
          <ul class="address-block">
            <li><i class="ion-ios-location-outline"></i>{{i18n "location"}}: {{ .Site.Params.location }}</li>
                </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}
